body {
    background-color: rgb(36, 40, 41);
    border: solid lightblue;
    padding: 30px;
    margin: 200px;
}
hr {
    padding: 0px;
    margin: 0px;
}
h1 {
    color: lightgrey;
    text-align: center;
}

p {
    color: rgb(112, 171, 183);
}

pre {
    color: white;
    text-align: center;
}
